.page {
    max-width: 1280px;
    min-width: 320px;
    background-color:  #2A2C2F;
       

}

.logo {
    width: 254px;
    height: 70px;
    margin-top: 34px;
    margin-left: 513px;
}

.lead {
    width: 984px;
    height: 983px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 194px;
    margin-left: 148px;
    color: #ffffff;
}

.lead__title {
    width: 720px;
    height: 200px;
    position:relative
    font-family: Inter;
    font-weight: 900;
    font-style: Black;
    font-size: 96px;
    line-height: 100px;
    letter-spacing: 0%;
    text-align: center;

}

.lead__subtitle {
    width: 720px;
    height: 72px;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
   line-height: 36px;
    letter-spacing: 0%;
    text-align: center;

}

.lead__image {
    width: 984px;
    height: 615px;
    margin: 0 auto;
}